body{
    height: 100%;
    width: 100%;
    background: rgb(47, 47, 177);
}
#home_container{
    height: 100%;
    width: 100%;
}
#logo{
    position: absolute;
    left: 44%;
    top:20%;
    height: 25%;
    width: 12%;
    background: white;
    border-radius: 15%;
}
#text_init{
    position: absolute;
    width: 80%;
    height: 7%;
    left: 10%;
    top: 48%;
    text-align: center;
    font-size: 140%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#btn_init{
    position: absolute;
    width: 16%;
    height: 7%;
    left: 42%;
    top: 62%;
}
#init{
    height: 100%;
    width: 100%;
    font-size: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#info_container{
    height: 100%;
    width: 100%;
    display: none
}

#text_info{
    position: absolute;
    width: 84%;
    height: 7%;
    left: 10%;
    top: 2%;
    text-align: center;
    font-size: 140%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#pic_info{
    position: absolute;
    left: 40%;
    top:20%;
    height: 35%;
    width: 20%;
    background: white;
    border-radius: 15%;
}
#btn_info{
    position: absolute;
    top: 60%;
    width: 20%;
    left: 40%;
    height: 6%;
}
#btn_info > button{
    height: 100%;
    width: 30%;
}
#next{
    float: right
}